@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap&text=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap&text=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789~!@#$%^&*()-_=+[{]}\\|;:'\",<.>/?");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 132px; /* デフォルトの値 */
  --color-selection-rgb: 55, 68, 115;
  --color-overlay-rgb: 30, 39, 68;
}

@media (min-width: 640px) {
  :root {
    --header-height: 148px; /* 640px以上の画面幅の場合の値 */
  }
}

::selection {
  background-color: rgba(var(--color-selection-rgb), 0.99);
}

::-moz-selection {
  background-color: rgba(var(--color-selection-rgb), 0.99);
}

@layer base {
  html,
  body {
    font-family:
      "Roboto",
      "Noto Sans JP" "sans-serif";
  }

  main {
    min-height: calc(100vh - var(--header-height));
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(-1rem);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.header-slide {
  animation: slide-in 0.4s ease backwards;
}

@keyframes slide-second-in {
  from {
    opacity: 0;
    transform: translateX(-2rem);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.header-second-slide {
  animation: slide-second-in 0.4s 0.2s ease backwards;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.content-slide {
  animation: slide-up 0.4s 0.4s ease backwards;
}

.title-slide {
  animation: slide-up 0.4s 0.2s ease backwards;
}
